<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="images">
        <img src="{{ url_for('uploaded', filename=main_image) }}">
        <img src="{{ url_for('uploaded', filename=predicted_image) }}">
    </div>

    <div class="description">
        <p>Найдено монет: {{ count_coins }}</p>
        <p>Сумма монет: {{ total_value }}</p>
    </div>


</body>
</html>