<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        .average_color {
            background-color: RGB({{ color[0] }}, {{ color[1] }}, {{ color[2] }});
        }
    </style>
</head>
<body>
    <div class="images">
        <img src="{{ url_for('uploaded', filename=main_image) }}">
        <img src="{{ url_for('uploaded', filename=predicted_image) }}">
    </div>

    <div class="description">
        <p><b>Найдено монет:</b> {{ count_coins }}</p>
        <p><b>Сумма монет:</b> {{ total_value }}</p>
        <p><b>Размер изображения:</b> {{ size }}</p>
        <p><b>Средний цвет:</b> RGB({{ color[0] }}, {{ color[1] }}, {{ color[2] }})<div class="average_color"></div></p>
    </div>

</body>
</html>